table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;

    td, th {
        padding: .75rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }

    th {
        color: #fff;
        background-color: #343a40;
        border-color: #454d55;
    }

    thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #dee2e6;
    }
}